logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
venv
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
node_modules
__pycache__/
*.pyc
db.sqlite3
/staticfiles/
media/
.devcontainer/
skrypt.py
output.txt
*.aux
*.out